.login {
    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.centerCard {
    justify-content: center;
    display: flex;
}
.login-button {
    height: 40px; 
    width: 150px;
    font-size: 110%;
    border-radius: 20px;
} 
.image-logo{
    justify-content: center;
    display: flex; 
}
.example-margin {
    height:100vh;
    width:100%;
    z-index:    10;
    position: absolute;
    top: 50%;
    left: 40%;
    right:50%;
    bottom: 50%;
    
  }