<div class="login">
    <!-- <img src="../assets/imgs/sewing-machine.png" style="margin-left: 25%;" width="40%"> -->
    <mat-card class="mat-elevation-z5" style="width: 30em;height: 20em;">

        <!-- <mat-card-title style="justify-content: center;display: flex; "> <img src="../assets/imgs/sewing-machine.png" width="30%"> -->
        <!-- </mat-card-title> -->
        <mat-card-title class="centerCard">Confecciones App</mat-card-title>
        <mat-card-content class="centerCard">
            <form [formGroup]="log"> 
                <p>
                    <mat-form-field style=" font-size: 18px; margin-top: 20px;">
                        <input matInput placeholder="Usuario" formControlName="username">
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field style=" font-size: 18px">
                        <input type="password" matInput placeholder="Password" formControlName="password">
                    </mat-form-field>
                </p>
                <div style="text-align: center;">
                    <button mat-raised-button color="primary" (click)="login()">Ingresar <i class="material-icons">
                        arrow_right
                        </i></button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>